{% extends "base.html" %}
{% block content %}

<h2 class="mb-4 text-center">Student Dashboard</h2>

<div class="container" style="max-width: 500px;">

    <a href="/student/properties" class="btn btn-primary w-100 mb-3">
        Find Properties
    </a>

    <a href="/student/bookings" class="btn btn-secondary w-100 mb-3">
        My Bookings
    </a>

    <a href="/student/payments" class="btn btn-success w-100 mb-3">
        Payment History
    </a>
    <a href="/logout" class="btn btn-danger w-100 mt-3">Logout</a>


</div>

{% endblock %}
